@font-face {
    font-family: RobotoCondensedLight ;
    src: url('../font/RobotoCondensed-Light.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: RobotoCondensedLight;

}

h3 {
    width: 100%;
    text-align: center;
}

.container {
    padding: 10px;
    width: 40%;
    position: absolute;
    left: 50%;
    margin-left: -20%;
    border-radius: 10px;

}

form .form_horizontal {
    margin-top: 12px;
    float:left;
    width: 100%;
}

.form_horizontal .form_element:nth-child(1) {
    width:3%;
    min-width: 100px;
    float: left;
}
.form_horizontal .form_element:nth-child(2) {
    width:35%;
    min-width: 100px;
   float:right;
}
label {
    display: block;
}

.submit {
    margin-top: 25px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    width: 30%;
    position: absolute;
    position: absolute;
    left: 50%;
    margin-left: -15%;
    border: 0px;
    text-shadow: 0px 1px 10px #757238;
    background-color: rgba(79, 255, 231, 0.87);
}

#myform2{
    background-color: rgba(85, 83, 67, 0.04);
    border:1px solid rgba(0, 0, 0, 0.14);
    padding:30px;
    width:200px;
}

#myform2>*{
    margin-left:20px;
}